@{
    ViewData["Title"] = "Gallery";
    Layout = "_Layout";
}

<!-- gallery -->
<div class="gallery">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Gallery</h2>
               <p>Discover our beautiful hotel through these stunning images</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery1.jpg" alt="Hotel Lobby"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery2.jpg" alt="Deluxe Room"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery3.jpg" alt="Restaurant"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery4.jpg" alt="Swimming Pool"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery5.jpg" alt="Spa Area"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery6.jpg" alt="Conference Room"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery7.jpg" alt="Garden View"/></figure>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img src="images/gallery8.jpg" alt="Reception"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end gallery -->